ng-doc-navbar{
  height: 100px!important;
  margin-left:15%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 45%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.card-text {
  flex: 1;
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-back {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
}

.btn-back:hover {
  background-color: #e6f0ff;
}
