<app-mini-header></app-mini-header>
<header>
  <nav>
    <ul>
      <li *ngIf="!authService.isLoggedIn(); else logged">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
      </li>
      <ng-template #logged>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">Inicio</a>
        </li>
      </ng-template>
      <!--
      <li *ngIf="authService.isLoggedIn()" class="dropdown">
        <a [routerLink]="['/docs']" routerLinkActive="active" class="dropdown-toggle">Documentacion</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/docs/java" routerLinkActive="active">Java</a></li>
          <li><a routerLink="/docs/istqb" routerLinkActive="active">ISTQB</a></li>
        </ul>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="dropdown">
        <a routerLink="/examenes" routerLinkActive="active" class="dropdown-toggle">Exámenes</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/examenes/java" routerLinkActive="active">Java</a></li>
          <li><a routerLink="/examenes/istqb" routerLinkActive="active">ISTQB</a></li>
        </ul>
      </li>

      -->
      <li *ngIf="!authService.isLoggedIn(); else userProfile">
        <a routerLink="/login" routerLinkActive="active">Login/Register</a>
      </li>
      <ng-template #userProfile>
        <li>
          <a [routerLink]="['/user']" routerLinkActive="active">{{ authService.getUsername() }}</a>
        </li>
      </ng-template>
      <li *ngIf="authService.isLoggedIn()">
        <button (click)="authService.logout(); reloadPage()">Cerrar sesión</button>
      </li>
    </ul>
  </nav>
</header>
