<div class="admin-panel">
  <h1 class="admin-panel-title">¡Bienvenido al panel de administración!</h1>

  <div class="admin-panel-cards">
    <mat-card class="admin-panel-card">
      <mat-card-header>
        <mat-card-title>Examenes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administra los examenes disponibles aquí.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/admin/examenes" class="btn btn-primary">Ir a subvista de examenes</button>
      </mat-card-actions>
    </mat-card>
<!--
    <mat-card class="admin-panel-card">
      <mat-card-header>
        <mat-card-title>Logs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administra las preguntas aquí.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/admin/logs" class="btn btn-primary">Ir a Logs</button>
      </mat-card-actions>
    </mat-card>
  </div>
-->
</div>
