<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="message" class="alert alert-{{ messageType }}">
        {{ message }}
      </div>

      <h1 class="text-center mb-4">Registrarse</h1>
      <form (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="username">Nombre de usuario</label><br>
          <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <br>
          <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
      </form>
    </div>
  </div>
</div>
