<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div class="header">
  <button (click)="goBack()" class="btn-back">Volver</button>
</div>
<div class="content-container">
  <h2>Documentos</h2>
  <div class="file-cards">
    <div *ngFor="let file of files" class="file-card" (click)="openFile(file)">
      <img [src]="getFileIcon(file)" alt="File Icon">
      <p>{{ file }}</p>
    </div>
  </div>

  <h2>Enlaces de Interés</h2>
  <div class="links-table" *ngIf="links.length > 0">
    <table mat-table [dataSource]="links" class="mat-elevation-z8">
      <ng-container matColumnDef="web">
        <th mat-header-cell *matHeaderCellDef> Web </th>
        <td mat-cell *matCellDef="let link"> {{link.web}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let link"> {{link.name}} </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Enlace </th>
        <td mat-cell *matCellDef="let link"> <a [href]="link.url" target="_blank">{{link.url}}</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['web', 'name', 'url']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['web', 'name', 'url'];"></tr>
    </table>
  </div>
  <div *ngIf="!loading && links.length === 0">
    <p>No hay enlaces disponibles.</p>
  </div>
</div>
