.correcta {
  color: black!important;
  background-color: lightgreen;
}

.incorrecta {
  color: black!important;
  background-color: lightcoral;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

div.pregunta-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
}

p {
  font-size: 22px;
  color: #333;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-x: auto;
  margin-top: 5px;
  font-size: 18px;
}

div.opcion-container {
  margin: 10px 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  font-size: 20px;
  color: #666;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

div.resultados-container {
  margin-top: 20px;
}

.correcta {
  color: lightgreen;
}

.incorrecta {
  color: lightcoral;
}

p.explicacion {
  margin-top: 10px;
  font-style: italic;
}

p.puntuacion {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-top: 20px;
}

input[type="radio"].correcta {
  background-color: lightgreen;
}

input[type="radio"].incorrecta {
  background-color: lightcoral;
}

.card-correcta {
  background-color: #d4edda;
}

.card-incorrecta {
  background-color: #f8d7da;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.end button, .end.end2 p {
  margin-bottom: 30px !important;
}

