<!-- src/app/pages/examen-page/examen/examen.component.html -->

<!-- Mostrar tiempo restante
<div class="timer">
  Tiempo restante: {{ formatTime(timeLeft) }}
</div>
-->
<h1>{{ examenNombre }}</h1>

<br>
<div *ngFor="let pregunta of preguntas; let preguntaIndex = index"
     [ngClass]="{'card-correcta': mostrarResultados && esRespuestaCorrecta(pregunta), 'card-incorrecta': mostrarResultados && !esRespuestaCorrecta(pregunta)}"
     class="pregunta-container">

  <p [innerHTML]="preguntaIndex + 1 + '. ' + processPreguntaText(pregunta.pregunta)"></p>
  <div *ngIf="pregunta.codigo && pregunta.codigo.startsWith('tabla =')">
    <table>
      <tr *ngFor="let row of parseTableData(pregunta.codigo)">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="pregunta.codigo && pregunta.codigo.startsWith('img =')">
    <img [src]="parseImageUrl(pregunta.codigo)" alt="Imagen de la pregunta">
  </div>
  <pre *ngIf="pregunta.codigo && !pregunta.codigo.startsWith('tabla =') && !pregunta.codigo.startsWith('img =')">{{ pregunta.codigo }}</pre>
  <div *ngFor="let opcion of getFilteredOpciones(pregunta); let opcionIndex = index" class="opcion-container">
    <input type="checkbox" [id]="'opcion' + preguntaIndex + '-' + opcionIndex" [name]="'pregunta' + pregunta.id"
           (change)="seleccionarRespuesta(pregunta.id, getOpcionLetra(opcionIndex), $event)"
           [disabled]="mostrarResultados">
    <label [for]="'opcion' + preguntaIndex + '-' + opcionIndex"
           [ngClass]="{
             'correcta': mostrarResultados && pregunta.respuestasCorrectas.includes(getOpcionLetra(opcionIndex)),
             'incorrecta': mostrarResultados && !pregunta.respuestasCorrectas.includes(getOpcionLetra(opcionIndex)) && respuestasUsuario[pregunta.id] && respuestasUsuario[pregunta.id].includes(getOpcionLetra(opcionIndex))
           }">{{ getOpcionLetra(opcionIndex) }}. {{ opcion }}</label>
  </div>
  <div *ngIf="mostrarResultados">
    <p>Respuesta correcta: {{ pregunta.respuestasCorrectas.join(', ') }}</p>
    <hr>
    <p [innerHTML]="'<strong>Explicación:</strong> ' + processPreguntaText(pregunta.explicacion)"></p>
  </div>
</div>
<div class="end">
  <button (click)="finalizarCuestionario()" [disabled]="mostrarResultados">Finalizar</button>
  <div *ngIf="mostrarResultados" class="end2">
    <p>Tu puntuación es: {{ puntuacion }}</p>
  </div>
</div>
