.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preguntas-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-back {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
}

.btn-back:hover {
  background-color: #e6f0ff;
}

.preguntas-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.preguntas-table th, .preguntas-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.preguntas-table th {
  background-color: #f2f2f2;
}

.actions {
  text-align: center;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete:hover {
  background-color: #c82333;
}

.pregunta-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.info-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 100px;
}
.btn-submit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.btn-submit:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.btn-submit:hover:not(:disabled) {
  background-color: #218838;
}
